<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
                hide-overlay
                stateless
                clipped
        >
            <v-list dense>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link :to="{name: 'home'}">Home</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link :to="{name: 'matching'}">matching</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link :to="{name: 'chat'}">chat</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <router-link :to="{name: 'scheduling'}">scheduling</router-link>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

            </v-list>
        </v-navigation-drawer>

        <v-toolbar
                fixed
                app
                clipped-right
                clipped-left
        >
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-icon round>person</v-icon>
            <v-toolbar-title> Tomás Wolf </v-toolbar-title>
            <v-spacer></v-spacer>
            <amplify-sign-out></amplify-sign-out>
        </v-toolbar>

        <v-content>
            <v-container>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import { Auth } from 'aws-amplify'
    import { AmplifyEventBus } from 'aws-amplify-vue'

    export default {
        name: "Base",
        data () {
            return {
                drawer: null,
                drawerRight: null,
                signedIn: false,
            }
        },
        async beforeCreate() {
            try {
                const user = await Auth.currentAuthenticatedUser()
                this.signedIn = true
            } catch (err) {
                this.signedIn = false
            }
            AmplifyEventBus.$on('authState', info => {
                if (info === 'signedIn') {
                    this.signedIn = true
                    this.$router.push({name: 'home'});
                } else {
                    this.signedIn = false;
                    this.$router.push({name: 'amplify-login'});
                }
            });
        },
    }
</script>
