<template>
  <div class="wrapper meeting">
    </br>
    <div style="margin-left: 30px; color: white; font-weight: bold;">
      Tiempo transcurrido: <template v-if="minutes < 10">0</template>{{ minutes }}:<template v-if="rem_seconds < 10">0</template>{{ rem_seconds }}
    </div>
    </br>
    <div class="ag-main">
      <div class="ag-container">
        <AgoraVideoCall
                :videoProfile="videoProfile"
                :channel="channel"
                :transcode="transcode"
                :attendeeMode="attendeeMode"
                :baseMode="baseMode"
                :appId="appId"
                :uid="uid"></AgoraVideoCall>
      </div>
    </div>
    <div class="ag-footer">
      <div>
        <v-btn round :to="{name: 'scheduling'}">Finalizar Sesión</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
    import * as Cookies from "js-cookie";
    import AgoraVideoCall from "./components/AgoraVideoCall";
    import {AGORA_APP_ID} from "@/agora.config"
    export default {
        components: {
            AgoraVideoCall
        },
        data() {
            return {
                timer: 0,
                videoProfile: Cookies.get("videoProfile").split(",")[0] || "480p_4",
                channel: Cookies.get("channel") || "test",
                transcode: Cookies.get("transcode") || "interop",
                attendeeMode: Cookies.get("attendeeMode") || "video",
                baseMode: Cookies.get("baseMode") || "avc",
                uid: undefined
            };
        },

        computed: {
            minutes() {
                return Math.floor(this.timer / 60);
            },
            rem_seconds() {
                return this.timer % 60;
            },
        },

        created() {
            this.appId = AGORA_APP_ID
            if (!this.appId) {
                return alert('Get App ID first!')
            }
            this.$nextTick(() => {
                setInterval(() => {
                    this.timer += 1;
                }, 1000);
            });
        },
    };
</script>

<style scoped>
  .meeting.wrapper {
    background: rgb(12, 43, 64);
    height: 100%;
  }

  .meeting .ag-header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ag-header-lead {
    font-size: 16px;
    line-height: 35px;
  }

  .meeting .ag-footer {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  .ag-footer {
    display: flex;
    justify-content: flex-end;
  }

  .meeting .ag-main {
    position: relative;
  }

  .meeting .ag-footer :first-child {
    margin-right: 80px;
  }

  .header-logo {
    width: 60px;
    height: 35px;
    margin-right: 12px;
  }

  .ag-container {
    width: calc(100% - 60px);
    height: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
  }
</style>

