<template>
	<p>ble</p>
</template>

<script>
export default {
  data() {
    return {
      state: "",
      errorMsg: ""
    };
  },

  props: ["placeholder"],

  methods: {
    handleChange(e) {
      this.$emit("change", e.target.value, state);
    }
  }
};
</script>
