<template>
    <v-container grid-list-md fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <div class="display-1">
                    Mis Tratamientos
                </div>
                <br>
                <br>
            </v-flex>
            <v-flex xs3 v-for="(treatment, index) in treatments" d-flex>
                <v-card>
                    <v-card-title>
                        <div class="title">
                            <v-icon>
                                people
                            </v-icon>
                            {{ treatment.title }}
                        </div>
                    </v-card-title>
                    <v-card-text class="text-xs-center">
                        <v-progress-circular
                                :size="100"
                                :width="15"
                                :value="100*treatment.progress/treatment.goal"
                                color="teal"
                        >
                            {{ treatment.progress }}/{{ treatment.goal }}
                        </v-progress-circular>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs3 d-flex>
                <v-card>
                    <v-card-title>
                        <div class="title">
                            <v-icon>
                                edit
                            </v-icon>
                            Nuevo Tratamiento
                        </div>
                    </v-card-title>
                    <v-card-text class="text-xs-center">
                        <v-progress-circular
                                :size="100"
                                :width="15"
                                :value="0"
                                color="teal"
                                @click="dialog = true"
                        >
                            <v-btn color="success" icon large flat>
                            <v-icon>
                                add
                            </v-icon>
                        </v-btn>
                        </v-progress-circular>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-dialog
                        persistent
                        v-model="dialog"
                        width="700"
                >
                    <v-card>
                        <div v-if="index !== questions.length - 1">
                            <v-card-title
                                    class="headline lighten-2"
                                    primary-title
                            >
                                <h2>¡Bienvenido!</h2>
                            </v-card-title>

                            <v-card-text text-xs-right>
                                <v-flex text-xs-right>
                                    <h2><v-icon>pan_tool</v-icon> Primero lo primero...</h2>
                                </v-flex>
                                <v-flex text-xs-right>
                                    <h4>Necesitamos saber más de ti, para poder asignarte un profesional adecuado a tus preferencias</h4>
                                </v-flex>
                                <v-flex>
                                    <v-container>
                                        <v-form>
                                            <v-flex text-xs-right font-weight-bold> {{ getCurrentQuestion.title }} </v-flex>
                                            <v-flex text-xs-right>
                                                <v-layout align-center justify-end row fill-height  >
                                                    <v-flex xs3 text-xs-right v-for="(option, question_index) in getCurrentQuestion.options">
                                                        <v-btn round color="info" @click="forward(question_index)">{{ option }}</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-form>
                                    </v-container>
                                </v-flex>

                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                                <v-layout row justify-space-around align-center>
                                    <v-btn color="primary"
                                           round
                                           :disabled="index == 0">
                                        <v-icon>arrow_back</v-icon>
                                        Anterior
                                    </v-btn>

                                    <v-btn color="orange" flat round @click="answers= []; goToMatching()">
                                        <v-icon>skip_next</v-icon>
                                        Matcheame ahora
                                    </v-btn>
                                </v-layout>
                            </v-card-actions>
                        </div>
                        <div v-else>
                            <v-card-text>
                                <v-flex text-xs-center>
                                    <h3>¡Gracias por contestar!</h3>
                                </v-flex>
                            </v-card-text>

                            <v-card-actions>
                                <v-layout row justify-center align-center>
                                    <v-btn color="primary"
                                           flat
                                           :onclick="goToMatching()">
                                        <v-icon>check</v-icon>
                                        Finalizar
                                    </v-btn>
                                </v-layout>
                            </v-card-actions>
                        </div>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import domain from '../domain.js';
    import JWTConfigMixin from '../mixins/JWTConfigMixin.vue';

    export default {
        name: "Home",
        mixins: [JWTConfigMixin],
        data(){
            return {
                index: 0,
                questions: [],
                answers: [],
                treatments: [],
                dialog: false,
            }
        },
        computed: {
            obtainListOfTreatmentsUrl() {
                return `${domain}/treatment-list/`;
            },
            obtainListOfQuestionsUrl() {
                return `${domain}/question-list/`;
            },
            getCurrentQuestion() {
                if (this.questions.length > 0 && this.index < this.questions.length) {
                    return this.questions[this.index];
                }
                return []
            },
        },
        methods: {
            getTreatments() {
                this.$nextTick(() => {
                    axios.get(this.obtainListOfTreatmentsUrl, this.jwtConfig).then(response => {
                        this.treatments = response.data;
                        if (response.data.length === 0) {
                            this.dialog = true;
                        }
                    }).catch(err => {
                        console.error(err);
                    })
                });
            },
            getQuestions() {
                this.$nextTick(() => {
                    axios.get(this.obtainListOfQuestionsUrl, this.jwtConfig).then(response => {
                        this.questions = response.data;
                    }).catch(err => {
                        console.error(err);
                    })
                });
            },
            forward(question_index) {
                this.answers.push(question_index);
                this.index = this.index + 1;
            },
            goToMatching() {
                this.$router.push({name: 'matching'});
            },
        },
        mounted() {
            this.getTreatments();
            this.getQuestions();
        },
    }
</script>
