<template>
    <v-app>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs8>
                        <v-layout row>
                            <v-flex xs6>
                                <v-container>
                                    <v-img :src="require('../assets/wecare.png')"></v-img>
                                </v-container>
                            </v-flex>
                            <v-divider vertical></v-divider>
                            <v-flex xs6>
                                <v-container>
                                    <amplify-authenticator></amplify-authenticator>
                                </v-container>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import axios from 'axios'
    import domain from '../domain.js';
    import { Auth } from 'aws-amplify'
    import { AmplifyEventBus } from 'aws-amplify-vue'

    export default {
        name: "Login",
        data() {
            return {
                username: '',
                password: '',
                signedIn: false,
            }
        },
        async beforeCreate() {
            try {
                const user = await Auth.currentAuthenticatedUser()
                this.signedIn = true
            } catch (err) {
                this.signedIn = false
            }
            AmplifyEventBus.$on('authState', info => {
                if (info === 'signedIn') {
                    this.signedIn = true
                    this.$router.push({name: 'home'});
                } else {
                    this.signedIn = false
                }
            });
        },
        computed: {
            obtainTokenUrl() {
                return `${domain}/auth/obtain_token/`;
            },
            payload() {
                return {
                    username: this.username,
                    password: this.password,
                }
            },
        },
        methods: {
            submitCreds() {
                axios.post(this.obtainTokenUrl, this.payload).then(response => {
                    const token = response.data.token;
                    this.$store.commit('updateToken', token);
                    this.$router.push({name: 'home'});
                }).catch(err => {
                    console.error(err);
                })
            },
        },
    }
</script>
