<template>
    <v-app>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs8>
                        <v-layout row>
                            <v-flex xs6>
                                <v-container>
                                    <v-img :src="require('../assets/wecare.png')"></v-img>
                                </v-container>
                            </v-flex>
                            <v-divider vertical></v-divider>
                            <v-flex xs6>
                                <v-container>
                                    <v-form>
                                        <v-layout wrap row>
                                            <v-flex xs12>
                                                <v-text-field prepend-icon="person" v-model="username" outline label="Nombre de usuario">
                                                </v-text-field>
                                            </v-flex>

                                            <v-flex xs12>
                                                <v-text-field prepend-icon="vpn_key" v-model="password" label="Contraseña" outline type="password">
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs12>
                                                <v-btn flat round color="info">
                                                    Recuperar contraseña
                                                </v-btn>
                                            </v-flex>
                                            <v-flex xs12>
                                                <v-layout row>
                                                    <v-flex xs6>
                                                        <v-btn round color="success">
                                                            Sign Up
                                                        </v-btn>
                                                    </v-flex>
                                                    <v-flex xs6 right text-xs-right>
                                                        <v-btn round @click="submitCreds" color="info">
                                                            Login
                                                        </v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-form>
                                </v-container>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import axios from 'axios'
    import domain from '../domain.js';

    export default {
        name: "Login",
        data() {
            return {
                username: '',
                password: '',
            }
        },
        computed: {
            obtainTokenUrl() {
                return `${domain}/auth/obtain_token/`;
            },
            payload() {
                return {
                    username: this.username,
                    password: this.password,
                }
            },
        },
        methods: {
            submitCreds() {
                axios.post(this.obtainTokenUrl, this.payload).then(response => {
                    const token = response.data.token;
                    this.$store.commit('updateToken', token);
                    this.$router.push({name: 'home'});
                }).catch(err => {
                    console.error(err);
                })
            },
        },
    }
</script>
