<template>
    <v-container>
        <v-layout wrap row align-center justify-center>
            <v-flex xs7>
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline">Vista previa</h3>
                        </div>
                    </v-card-title>

                    <v-card-text>
                        <v-layout wrap row align-center justify-center>
                            <v-flex xs12>
                                <v-container>
                                    <v-layout row>
                                        <v-flex xs6 text-xs-right>
                                            <v-btn color="success" round @click="openSearchingModal()">
                                                <v-icon>
                                                    search
                                                </v-icon>
                                                Buscar ahora
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6>
                                            <v-btn round dark color="orange">
                                                <v-icon>
                                                    schedule
                                                </v-icon>
                                                Agendar
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-flex>
                            <v-flex xs10>
                                <v-card>
                                    <v-layout column>
                                        <v-container>
                                            <v-flex><v-layout row>
                                                <v-flex>Precio base: </v-flex>
                                                <v-flex text-xs-right>$25.000</v-flex>
                                            </v-layout></v-flex>
                                            <v-flex><v-layout row>
                                                <v-flex>Cargo por servicio: </v-flex>
                                                <v-flex text-xs-right>$153</v-flex>
                                            </v-layout></v-flex>
                                            <v-flex><v-layout row>
                                                <v-flex>Alta demanda: </v-flex>
                                                <v-flex text-xs-right>$1.248</v-flex>
                                            </v-layout></v-flex>
                                            <v-flex><v-layout row>
                                                <v-flex>Precio pre-descuentos: </v-flex>
                                                <v-flex text-xs-right>$26.401</v-flex>
                                            </v-layout></v-flex>
                                            <v-divider></v-divider>
                                            <v-flex><v-layout row>
                                                <v-flex>Descuento Caja de Compensación Los Andes: </v-flex>
                                                <v-flex text-xs-right>-$1.200</v-flex>
                                            </v-layout></v-flex>
                                            <v-flex><v-layout row>
                                                <v-flex>Descuento código descuento: </v-flex>
                                                <v-flex text-xs-right>-$4.000</v-flex>
                                            </v-layout></v-flex>
                                            <v-divider></v-divider>
                                            <v-flex><v-layout row>
                                                <v-flex font-weight-bold>Precio final: </v-flex>
                                                <v-flex font-weight-bold text-xs-right>$21.201</v-flex>
                                            </v-layout></v-flex>
                                            <v-divider></v-divider>
                                            <v-flex><v-layout row>
                                                <v-flex>
                                                    <v-btn flat round>
                                                        <v-img height="30px" width="30px" :src="require('../assets/visa.jpg')"></v-img>
                                                        &nbsp; &#8226; &#8226; &#8226; &#8226; 6789 </v-btn>
                                                </v-flex>
                                                <v-flex text-xs-right>
                                                    <v-btn flat round> Cambiar </v-btn>
                                                </v-flex>
                                            </v-layout></v-flex>
                                        </v-container>
                                    </v-layout>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog
                persistent
                v-model="dialog"
                :width="dialog_width">
            <div v-if="therapist_found">
                <v-card>
                    <v-card-text>
                        <v-flex>
                            <v-progress-circular
                                    :rotate="-90"
                                    :value="value"></v-progress-circular>
                        </v-flex>
                        <v-layout row>
                            <v-flex xs6>
                                <v-container>
                                    <v-flex text-xs-center>
                                        <v-img round height="100px" width="100px" class="fotoperfil" :src="require('../assets/therapist.jpg')"></v-img>
                                    </v-flex>
                                </v-container>
                            </v-flex>
                            <v-divider vertical></v-divider>
                            <v-flex xs6>
                                <v-container>
                                    <v-layout wrap row>
                                        <v-flex xs12 font-weight-bold> {{therapist.name}}</v-flex>
                                        <v-flex xs12 font-italic>{{therapist.university}}</v-flex>
                                        <v-flex xs12>Edad: {{therapist.age}}</v-flex>
                                        <v-flex xs12>
                                            <v-layout row justify-start>
                                                <v-flex xs1 v-for="index in therapist.ranking" :key="`r${index}`" >
                                                    <v-icon color="orange">star_rate</v-icon>
                                                </v-flex>
                                                <v-flex xs1 v-for="index in 5 - therapist.ranking" :key="`s${index}`">
                                                    <v-icon>star_rate</v-icon>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-card-actions>
                        <v-layout row>
                            <v-flex>
                                <v-btn round>
                                    <v-icon>
                                        search
                                    </v-icon>
                                    Seguir buscando
                                </v-btn>
                            </v-flex>
                            <v-flex>
                                <v-btn round>
                                    <v-icon>
                                        check
                                    </v-icon>
                                    Aceptar - Sólo texto
                                </v-btn>
                            </v-flex>
                            <v-flex>
                                <v-btn round
                                       @click="goToVideo()">
                                    <v-icon>
                                        check
                                    </v-icon>
                                    Aceptar
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </div>
            <div v-else>
                <v-card>
                    <v-card-text>
                        <v-container>
                            <v-layout row align-center justify-center>
                                <v-flex xs4>
                                    <v-progress-circular
                                            indeterminate
                                            color="info"
                                    ></v-progress-circular>
                                </v-flex>
                                <v-flex xs4 text-xs-center>
                                    {{ dialog_title }}
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-layout row align-center justify-center>
                            <v-flex text-xs-center>
                                <v-btn color="error" @click="closeSearchingModal">
                                    <v-icon>cancel</v-icon>
                                    Cancelar búsqueda
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </div>
        </v-dialog>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import domain from '../domain.js';

    export default {
        name: 'Matching.vue',
        data() {
            return {
                dialog: false,
                dialog_title: 'Buscando match...',
                dialog_width: 400,
                therapist: {
                    name: 'Luisa Fuentes',
                    age: 29,
                    university: 'University of Stanford',
                    ranking: 4
                },
                therapist_found: false,
                interval: {},
                value: 100,
            }
        },
        methods: {
            openSearchingModal() {
                this.dialog = true;
                setTimeout(this.findTherapist, 2000);
            },
            findTherapist() {
                this.dialog_width = 600;

                axios.post(this.getTherapistInfoUrl(), { answers: null }, this.jwtConfig).then(response => {
                        this.therapist_found = true;
                        this.therapist = response.data;
                    }).catch(err => {
                        console.error(err);
                    });

                this.interval = setInterval(() => {
                  if (this.value < 0) {
                    return (this.value = 100);
                  }
                  this.value -= 8;
                }, 1000);
            },
            closeSearchingModal() {
                this.dialog = false;
            },
            goToVideo() {
                this.$router.push({name: 'chat'});
            },
            getTherapistInfoUrl() {
                return `${domain}/matching/therapist_retrieve`;
            }
        },
    }
</script>

<style scoped>
.fotoperfil {
    border-radius: 50%;
}
</style>