<template>
    <v-container>
        <v-layout column>
            <v-flex>
                <h2 class="font-weight-thin">Felicidades por haber completado tu primera sesión</h2>
                <h2>¡Elige las fechas de tus siguientes sesiones!</h2>
            </v-flex>
            <v-flex>
            <v-date-picker
                    v-model="dates"
                    full-width
                    landscape
                    multiple
                    class="mt-3"
                    :allowed-dates="allowedDates"
            ></v-date-picker>
        </v-flex>
        <v-flex xs12>
            <v-container>
            <v-layout row>
                <v-flex xs6>
                    <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="dates"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
            >
                <template v-slot:activator="{ on }">
                    <v-combobox
                            v-model="dates"
                            multiple
                            chips
                            small-chips
                            label="Multiple picker in menu"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                    ></v-combobox>
                </template>
            </v-menu>
                </v-flex>
                <v-flex xs6 text-xs-right>
                    <v-btn round color="success" :disabled="dates.length === 0" @click="createTherapy">
                        <v-icon>
                            arrow_forward
                        </v-icon>
                        Finalizar
                    </v-btn>
                </v-flex>
            </v-layout>
            </v-container>
        </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import domain from '../domain.js';

    export default {
        name: 'Scheduling',
        data() {
            return {
                dates: [],
                menu: false
            }
        },
        methods: {
            allowedDates: val => (parseInt(val.split('-')[2], 10) % 7 !== 0) && ((parseInt(val.split('-')[2], 10) + 1) % 7 !== 0),
            goToHome() {
               this.$router.push({name: 'home'});
            },
            createTherapy() {
                axios.post(this.getTreatmentCreationUrl(),
                 { goal: this.dates.length, progress: 1, title: 'Sesiones de terapia' },
                  this.jwtConfig).then(response => {
                    this.goToHome();
                }).catch(err => {
                    console.error(err);
                });
            },
            getTreatmentCreationUrl() {
                return `${domain}/treatment-create/`;
            },
        }
    }
</script>